.button {
    background: linear-gradient(90deg, rgba(42, 138, 155, 1) 0%, rgba(100, 199, 87, 1) 50%, rgba(83, 237, 229, 1) 100%);
    padding: 1.2%;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25.25px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(202, 202, 202, 0.486);
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all ease-in-out 90ms;

}

.button:hover {
    background: linear-gradient(155deg, rgb(15, 206, 240) 0%, rgb(125, 247, 109) 50%, rgb(101, 248, 241) 100%);
    color: rgb(75, 75, 75);
    box-shadow: 5px 5px 20px rgba(235, 234, 234, 0.541);
    scale: 1.05;
    transition: all ease-in-out 90ms;
}

.button:active {
    background: linear-gradient(155deg, rgb(127, 233, 252) 0%, rgb(182, 230, 176) 50%, rgb(101, 248, 241) 100%);
    color: rgb(75, 75, 75);
    box-shadow: 20px 20px 55px rgba(247, 244, 244, 0.616);
    scale: 0.9;
    transition: all ease-in-out 32ms;
}