.shape {
    background: linear-gradient(155deg, rgba(42, 138, 155, 1) 0%, rgba(100, 199, 87, 1) 50%, rgba(83, 237, 229, 1) 100%);
    margin: 10px;
    max-width: 40px;
    min-width: 20px;
    min-height: 40px;
    max-height: 40px;
    transition: all 150ms ease-in-out;
    border-radius: 25.25px;
    box-shadow: 10px 10px 40px rgba(158, 158, 158, 0.493);
    opacity: 0.7;
}

.shape:hover{
    scale:1.01 ;
    transition: all 150ms linear;
    opacity: 1;
    min-width: 30px;
    box-shadow: 0px 0px 20px rgba(5, 216, 128, 0.849);
}
