.circle {
    background-color: rgb(238, 238, 238);
    padding: 2%;
    margin: 10px;
    width: 20px;
    height: 20px;
    transition: all 300ms ease-in-out;
    border-radius: 50%;
}

.container{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 1.2%;
    background-color: rgb(43, 43, 43);
    border-radius: 25.25;
}