
.container{
    display: flex;
    align-items: right;
    justify-content: right;
    text-align: right;
    margin: 10px;
    padding: 1.2em;
    background-color: rgb(43, 43, 43);
    border-radius: 25.25px;
    box-shadow: 5px 5px 5px rgba(44, 44, 44, 0.616);
    width: auto;
    height: auto;
    max-width: 75%;
}