.first {
    text-align: center;
    text-wrap: inherit;
    margin: 25%;
    background-color: rgba(51, 51, 51, 0.89);
    padding: 5%;
    border-radius: 25px;
    box-shadow: 10%;
}

.counter{
    color: white;
}